<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281283958415-24ln2rg276il7fhee3q57jaiq8k7olga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281283958415-24ln2rg276il7fhee3q57jaiq8k7olga</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>281283958415-507jm533l8fmn1v34160o8gkkd7n5m99.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyARN20M_u0h9cg0ZFzGMkfJjQusXw-ZYX8</string>
	<key>GCM_SENDER_ID</key>
	<string>281283958415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Chromser</string>
	<key>PROJECT_ID</key>
	<string>chromser-d72db</string>
	<key>STORAGE_BUCKET</key>
	<string>chromser-d72db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281283958415:ios:16ec0e63ec14a02e2a82fa</string>
	<key>DATABASE_URL</key>
	<string>https://chromser-d72db.firebaseio.com</string>
</dict>
</plist>